/* Estilos para telas pequenas (mobile) */

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr; /* Uma coluna em telas pequenas */
    }

    .grid-item {
        font-size: 20px; /* Reduz o tamanho da fonte */
        padding: 15px; /* Ajueste o espaçamento interno */
    }
}